/* reset */
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* variables */
:root{
    --color-gray: #333333;
    --color-white: #FFFFFF;
    --color-black: #000000;
    --ff-Inconsolata: 'Inconsolata, sans-serif';
    --ff-space-mono: 'Space Mono, monospace';


    

}

.not-found{
    margin: 2rem 4rem;
    text-transform: uppercase ;
    font-weight: 700,bold;
    font-size: 24px;
    color: #333333;
    line-height: 25.18px;
    font-family: "Inconsolata", monospace;

    letter-spacing: -8%;

}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: stretch; 

}
.flex-item{
    flex: 1;
    gap: 1rem;
}

img{
    width: 100%;
    height: 70vh;
    margin: 2rem 1rem;
    padding: 1rem 3rem;

}
.child-1{
    width: 586px;
    height: 190px;
    font-size: 64px;
    font-family: "Space Mono", monospace;
    font-weight: 700,bold;
    line-height: 94.78px;
    letter-spacing: -3.5%;
    color:#333333;
    text-align: left;
    vertical-align: top;

}
.child-2{
    width: 381px;
    height: 108px;
    color: #4F4F4F;
    letter-spacing: -3.5%;
    font-size: 24px;
    text-align: left;
    font-family: "Space Mono", monospace;
    font-weight: 400,regular;
    font-style:regular ;
    line-height: 35.54px;
    vertical-align: top;
    margin-top: 2rem;
}
.child-3{
    width: 216px;
    height: 68px;
    font-family: "Space Mono", monospace;
    font-style: bold;
    font-size: 14px;
    line-height: 21px;
    vertical-align: top;
    letter-spacing: -3.5%;
    background-color: #333333;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-top: 5rem;
    padding-top: 1.5rem;
    text-align: center;

}
.child-3:hover{
    cursor: pointer;
    background-color: #4F4F4F;
}


.child-3 a{
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 700;
}
.created-by{
    opacity: 0.5;
}
.created-by span{
    font-weight: bold;
}
/* MEDIA QUERY */
@media screen and (max-width: 768px) {

    .not-found{
        width: 133px;
        height: 25px;
        margin: 20px 24px;
        text-transform: uppercase ;
        font-weight: 700,bold;
        font-size: 24px;
        color: #333333;
        line-height: 25.18px;
        font-family: "Inconsolata", monospace;
        letter-spacing: -8%;
        display: inline-block;
        white-space: nowrap
    
    }
    
    .flex{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch; 
    
    }
    .flex-item{
        flex: 1;
        gap: 1rem;
    }
    
    img{
        width: 100%;
        height: 70vh;
        margin: 2rem 1rem;
        padding: 1rem 3rem;
    
    }

    .flex-item-2{
        margin: 2rem ;
    }
    .child-1{
        width: 350px;
        height: 142px;
        font-size: 48px;
        font-family: "Space Mono", monospace;
        font-weight: 700,bold;
        line-height: 71.09px;
        letter-spacing: -3.5%;
        color:#333333;
        text-align: left;
        vertical-align: top;
        white-space: wrap;
    
    }
    .child-2{
        width: 381px;
        height: 108px;
        color: #4F4F4F;
        letter-spacing: -3.5%;
        font-size: 18px;
        text-align: left;
        font-family: "Space Mono", monospace;
        font-weight: 400,regular;
        font-style:regular ;
        line-height: 26.66px;
        vertical-align: top;
        margin-top: 2rem;
    }
    .child-3{
        width: 216px;
        height: 68px;
        font-family: "Space Mono", monospace;
        font-style: bold;
        font-size: 14px;
        line-height: 21px;
        vertical-align: top;
        letter-spacing: -3.5%;
        background-color: #333333;
        color: #FFFFFF;
        text-transform: uppercase;
        margin: 4rem 0;

        padding-top: 1.5rem;
        text-align: center;
    
    }
    
    .child-3 a{
        color: #FFFFFF;
        text-decoration: none;
        font-weight: 700;
    }
    
}